/* style rewriting */
@media (max-width: 1200px) {
.navbar-header {
    float: left;
}
}

label>span {
	color: #F87272;
}
.navbar-collapse .btn {
	margin: 20px 5px;
}

.navbar .navbar-nav {
	margin-left: 0;
}

.navbar-collapse.collapse {
	width: 65%;
}

.ct-site--map {
	margin-top: 83px;
}

.my-lists {
	padding-left: 15px;
}

#search .form-control{
	background-color: white;
}

.modal-backdrop {
	z-index: 0;
}

.navbar {
	z-index: 1000;
}

.form-group {
	margin-top: 10px;
}

.custom-control {
	background-color: #fff;
}

.product-container {
	margin-bottom: 50px;
}

.my-heading {
	margin-bottom: 15px;
	text-decoration: underline;
	font-size: 20px;
	font-weight: 600;
}

.custom-panel {
	margin-top: 15px;
	padding: 10px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:before {
    content: "x";
    color: black;
    font-size: 15px;
}

.one-line-elipsis {
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2-drop {
	max-height: 250px;
	overflow-y: auto;
}

.select2-drop .select2-results {
	overflow: hidden;
}

.dashboard.tiles .tile-main-div .tile .tile-body a:hover {
    text-decoration: none;
    color: #ddd;
}
.dashboard.tiles .tile-main-div .tile .tile-body a {
    text-decoration: none;
    color: #fff;
}
.dashboard.tiles .tile-main-div .tile .tile-title {
    text-align: center;
    font-size: 4.5em;
    font-weight: 600;
    margin-top: 30px;
}
.dashboard.tiles .tile-main-div .tile-object {
    width: auto;
}
.dashboard.tiles .tile-main-div .tile-object .name {
    background-color: #4D4948;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    margin: 0 auto 5px;
}
.dashboard.tiles .tile-main-div .tile-object .number {
    background-color: #fff;
    color: #333;
    text-align: center;
    font-size: 20px;
    margin: 0 auto 10px;
}
.dashboard.tiles .tile-main-div .tile-object .transaction-detail {
    background-color: #fff;
    color: #333;
    text-align: left;
    font-size: 13px;
    padding: 0px 10px;
    margin: 0 auto 10px;
}
.bg-blue-steel {
    border-color: #008BCC !important;
    background-image: none !important;
    background-color: #008BCC !important;
    color: #FFFFFF !important;
}
.dashboard.tiles .tile {
    display: block;
    letter-spacing: 0.02em;
    float: none;
    height: 155px;
    width: auto !important;
    cursor: auto;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 20px;
    overflow: hidden;
    /* border: 4px solid transparent; */
    margin: 0 auto 5px;
}
.tiles .tile .tile-body {
    height: 100%;
    vertical-align: top;
    padding: 10px 10px;
    overflow: hidden;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    color: #ffffff;
    margin-bottom: 10px;
}
.tiles .tile .tile-body > i {
    margin-top: 17px;
    display: block;
    font-size: 80px;
    line-height: 56px;
    text-align: center;
}

.ct-articleBox .ct-articleBox-meta span a {
    font-size: 12px;
    line-height: 27px;
    color: #999999;
}

.logo-middle-container {
    display: table-cell;
    vertical-align: middle;
    height: 270px;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#modalBody .row {
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5;
}